:root{
    --main_color_one: #1E0712;
    --main_color_two: #DBE3F1;
    --accent_color_one: #20242B;
    --accent_color_two: #328491;
}
body{
    color: var(--accent_color_one);
    font-size: 20px;
    line-height: 1.3em;
    font-family: 'Merriweather Sans', 'Helvetica', sans-serif;
    font-weight: 300;
}

.bold{
    font-weight: 800;
}

.padding_8{
    padding:8px 0;
}

.rcorners {
    border-radius: 20px;
}

a{
    text-decoration: none;
    color: var(--accent_color_one);
}

h1{
    font-size: 2.4em;
    line-height: 1.3em;
    font-family: 'Yeseva One', cursive;
}
h2{
    font-weight: bold;
    font-size: 1.3em;
    line-height: 1.5em;
}

h3{
    font-size: 2em;
    padding: 32px 0;
    font-family: 'Yeseva One', cursive;
}

h4{
    font-size: 0.9em;
    font-family: 'Merriweather', serif;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
}

.header .logo{
    margin-left: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo img{
    height:40px;
    width:auto;
}
nav{
    margin-right:16px;
}
nav a{
    padding: 8px;
    transition:all 400ms;
    text-align: center;
}

nav a:hover, nav a:active{
    background-color:var(--main_color_two);
}

#title{
    color: var(--accent_color_two);
}

.banner{
    background-color: var(--main_color_one);
    display: flex;
    align-items: center;
    padding: 32px 24px;

}

.banner img{
    width: 60%;
    height: auto;
}

.apply{
    margin-left: 40px;
    padding: 20px;
    width: 32%;
    height: 90%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    color: white;
}

.apply h2{
    padding: 32px 0;
}

.button{
    width:100%;
    text-align: center;
    color: white;
    font-weight: 800;
    background-color: var(--accent_color_two);
    line-height: 1.5em;
    box-shadow: 0 5px 5px 5px #0D0308;
    transition: all 400ms;
    
}

.button:hover, .button:active{
    background-color: var(--accent_color_one);
}

.flex{
    display: flex;
}
.flex.left{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin:32px 24px;
}

.width_100{
    width: 100%;
}

.flex.left h3{
    padding-bottom: 24px;
}

.flex.left h4{
    padding-top: 40px;
}
.flex.right{
    flex-direction: column;
    margin:32px 24px 0 0;
}

.minor_story{
    display:flex;
    align-items: center;
    height: 163px;
    width:530px;
    padding: 16px;
    border-bottom: 1px solid var(--accent_color_two);
    background-color: var(--main_color_two);
    transition: all 500ms;
}

.minor_story:hover, .minor_story:active{
    background-color: var(--accent_color_two);
}

.minor_story img{
    width:35%;
    height: auto;
}

.minor_story span{
    padding: 16px;
}

.minor_story a{
    font-weight: bold;
    color:var(--main_color_one);
}

.learning{
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color: var(--main_color_two);
    padding-bottom: 32px;
}
.row{
    width:80%;
    justify-content: space-around;
    margin: 10px;
}
.column{
    flex-direction: column;
    width:30%;
    background-color: white;
    box-shadow: 0 5px 5px 5px #C0C7D4;
}

.details{
    padding:16px;
}

.thesis{
    flex-direction: column;
}

.thesis h3{
    text-align: center;
}

footer{
    background-color: var(--main_color_one);
    height:74px;
    justify-content: space-between;
    padding: 10px 24px;
    color: white;
}

footer a{
    padding:8px;
    color: white;
}